/NameGenerator/nb-configuration.xml
/NameGenerator/nbproject/
/NameGenerator/target/
/HigherLower/target/
/HeadsTails/target/
/TemperatureConverter/target/
/TemperatureConverter/nbproject/
/CalculateAge/target/
EncryptionDecryptionAlgorithm/target/
ChallengesFrontend/target/
