/name-generator-java/name-generator-java/target/
/name-generator-java/nbproject/
/name-generator-java/target/
name-generator-java/nb-configuration.xml
/NameGenerator/nbproject/
/NameGenerator/target/
/HigherLower/target/